<?xml version='1.0' encoding='utf-8'?>
<widget id="com.manure.oatsgroup" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ManureApp</name>
    <description>
        Create manure records with the greatest of ease...
    </description>
    <author email="info@openag.io" href="http://openag.io">
        Matthew Koester, student with the OATS Center at Purdue
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/icon.png"/>
    <splash src="" density="" />
</widget>
