<?xml version='1.0' encoding='utf-8'?>
<widget id="com.manure.oatsgroup" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Manure App</name>
    <description>
        A Cordova app that generates manure application data converting it into manure application records for export
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/icon.png"/>
    <splash src="" density="" />
</widget>
